body {
    font-family: cursive;
    margin: 0;
    padding: 0;
}

.card {
    background: white;
    box-shadow: 0 0 0.6rem rgba(0,0,0,0.2);
    padding: 1.25rem;
    border-radius: 0.6rem;
    width: 100%;
    max-width: 18rem;
    margin-top: 1.25rem;
}

img {
    border-radius: 2rem;
    width: 100%;
    display: block;
}

p {
    color: gray;
}

h1 {
    font-size: 1.5rem;
    margin-top: 0.6rem;
    text-align: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.25rem;
    margin-top: 1.25rem;
    padding: 1rem;
}

.container button {
    background-color: rgb(226, 13, 13);
    width: 5.625rem;
    height: 2.5rem;

    font-weight: bold;
    border-style: hidden;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.6rem rgba(0,0,0,0.2);
    cursor: pointer;
}

.div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.valor {
    color: green;
    font-weight: bold;
    font-size: 2rem;
}

.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: 0 0 0.6rem rgba(0,0,0,0.2);
    background-color: rgb(241, 237, 232);
    min-height: 15.625rem;
    padding: 1.5rem;
}

.formulario h1 {
    font-weight: bold;
   
}

.formulario button {
    background-color: rgb(224, 133, 22);
    border-radius: 1rem;
    height: 1.8rem;
    width: 5.6rem;
    font-weight: bold;
    cursor: pointer;
}

input {
    width: 100%;
    max-width: 18.75rem;
    margin-bottom: 0.9rem;
    border-radius: 0.5rem;
    height: 1.5rem;
    border-style: solid;
    border-color: black;
    font-weight: bold;
    padding: 0.3rem;
}

.loading {
    text-align: center;
    margin-top: 1rem;
}


@media (max-width: 768px) {

    .container {
        gap: 1rem;
    }

    .card {
        max-width: 90%;
    }

    .valor {
        font-size: 1.7rem;
    }
}

